/* global style  */

*{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{

    font-family: "Source Sans Pro", sans-serif;
}
body{
    font-family:  "Times New Roman";
}


.clear-fix{
    clear: both;
}

.container{

    width: 80%;
    margin: auto;
}
.container2{

    width: 70%;
    margin: auto;
}
a{
    text-decoration: none;
}

.centerY{
    position: relative;
    top: 50;
    transform: translateY(-50%);
}









/*  end global style  */




/* start home  */

#home{
    background-image: url("../images/header.jpeg");
    height: 100vb;
    position: relative;
   
  
}
.logo h3{
    cursor: pointer;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    position: absolute;
  
   
}

.header{
    padding: 15px;
    position: relative;
    
}
#home .logo h3{

    color: #FF305B;
    font-weight: 600;
    font-size: 24px;
}
#home .logo {

  float: left;
}
.nav-bar{
    float: right;
}


.nav-bar .nav-item a{

text-decoration: none;
color: white;
transition:  0.7s;
font-size: 18px;

}
.nav-bar .nav-item {

float: left;
margin-inline: 10px;
padding-top: 5px;

}
.nav-bar .nav-item a:hover{


color: #FF305B;

}





.home-body h3{
    color: white;
    font-size: 24;
    margin: 15px;
}
.home-body h1{
    color: #FF305B;
    font-size: 70px;
    font-weight: 700;
    margin: 15px;
}





.home-body p{
    
    overflow: hidden;
    color: whitesmoke;
    font-size: 22px;
    margin: 15px;
     
    
    
}

.home-body{


text-align: center;
width: 80%;
position: absolute;
top: 50%;
transform: translatey(-50%);
}


/* end home  */



/* start about */

.about{
    height: 80vb;
    margin-top: 7%;
    
}

.about .left-about{
    float: left;
  width: 35%;
   box-sizing: border-box;
   padding-left: 3%;

}


.about .left-about .bordar{
 
  height: 400px;
  width: 350px;
  border: solid 8px #555555;
  border-radius: 4px;
  position: relative;

 
}

.about .left-about .bordar .image{
 position: absolute;
 left: 15px;
 top: 15px;
 border-radius: 4px;
 overflow: hidden;
 

 
}
.about .left-about .bordar .image:hover .cover{

 
top: 0;
 
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  rgba(104, 104, 104, 0.6);
    position: absolute;
    top: 100%;
    transition: 1s ;
 
 text-align: center;
}
.about .right-about{
    box-sizing: border-box;
    
float: left;
width: 60%;
padding: 0 0 0 110px;
height: 400px;

}

.cover i {
color: white;
margin-inline: 10px;
transition: color 1s;
size: 200px;
    
}
.cover i:hover {
   color: #FF305B;


    
}
.cover .icons {
position: absolute;
width: 100%;
top: 50%;

transform: translatey(-50%);
    
}



.right-about h2{
    padding: 0px 12px  20px 12px;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color:#333333;
}
.right-about p{
   
    font-size: 18px;
    line-height: 1.5;
    color:#555555;
}


.right-about h2::before{
    content: " ";
    width: 4px;
    height: 25px;
    background-color: #FF305B;
    position: absolute;
    left: 0px;
 top: 10%;
 
   
}



.dashed-line {
    border-bottom: 1px dashed #888; 
    margin: 20px 0; 
    width: 100%;
}
.personal-info div p{
margin-block: 10px;
}
.left-info{
    float: left;
    width: 45%;

}
.right-info{
    float: right;
    width: 45%;

}



.button{
    float: left;
text-align: center;
position: relative;
background-color: #FF305B;
border-radius: 4px;
}
.button:hover{
    background-color: #EC2403;
  
}

.button span{
   color: white;
   margin-right: 7px;
    
    /* margin: 10px 2px 5px 15px; */
}
.label{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.one{
    width: 180px;
    height: 40px;
    margin-right: 20px;
}
.two{
    width: 120px;
    height: 40px;
}
/* end about */

/* start Services */



/* end Services */

.Services{
    background-color: #F1F1F1;
    height: 60vb;
    overflow: hidden;
}

.Services .item{
    cursor: pointer;
 
 margin-top: 50px;
}
.Services .item p{
 
 color: #555555;
 line-height: 1.6;
 font-size: 18px;
}

.Services .item{
    box-sizing: border-box;
    float: left;
   width: 25%;
    
    padding: 40px 10px;
    text-align: center;
    transition: 1s;
    border-radius: 4px;
}
.Services .item:hover{
   background-color: white;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
.Services .item:hover i{
  transform: scale(1.3);
}

.Services .item i{

margin-top: 30px;
margin-bottom: 40px;
transition: 1s;

}
.Services .item h2{


margin-bottom: 15px;

}

/* start protfolio */



.protfolio{
    height: 120vb;
    background-color: white;
    overflow: hidden;
    
    
}

.title{
    text-align: center;
    position: relative;
  

}
 .title h2{
    color: #333333;
    font-size: 40px;
    margin-top: 60px;
    
  

}
.title h2::after{
    content: "";
    width: 65px;
    height: 7px;
    border-top: solid 1px #e91e63;
    border-bottom: solid 1px #e91e63;

   
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    
  

}
.title h2::before{
    content: "";
    width: 160px;
    height: 0.5px;
    background-color: #e91e63;


   
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    
  

}


.protfolio .menu {
    margin-top: 50px;
    text-align: center;

   
}

.protfolio .menu button {
    all: unset;  
    cursor: pointer;
    color: black;
    margin-inline: 15px;
}

.protfolio .items .item{
    cursor: pointer;
    float: left;
    width: 30%;
    height: fit-content;
 position: relative;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
    margin-left: 35px;
  transition: 1s;
  text-align: center;
    
    
}
.protfolio .items .item:hover::after{
    
  
    opacity: 0.6;
    transition: opacity 1s ;
  
    
    
}
.protfolio .items .item:hover .icon{
    
  
    opacity: 0.6;
    
  
    
    
}
.selected{
    
    color: #e91e63;
}
.protfolio .items .item::after{
   
    content: " ";
    position: absolute;
    background-color: #0d0d0dc2;
    inset: 0;
    transition: opacity 1s ;
    
    opacity: 0;

    margin: auto;
    
    
    
}
.item .icon{
    width: 10px;
position: absolute;
bottom: 20px;
right: 25px;
opacity: 0;
transition: opacity 0.7s ;
}
.item .icon i{
width: 100%;
}
.protfolio .items .item img{
    
  
  width: 100%;
    
    
}
.button{
    cursor: pointer;
}




/* end about */


/* start part-two
 */
.part-two
{
    height: 40vb;
    background-color: #F1F1F1;
    
    position: relative;
}
.part-two
 .items{
   
    padding-block:5% ;
}
.part-two
 .items .item{
    text-align: center;
    float: left;
    width: 25%;
   
    
    
}

.part-two
 .items .item i{
    margin-top: 40px;
    margin-bottom: 30px;
}
.part-two
 .items .item p{
    margin-top: 10px;
 
}
.part-two
 .items .item span{
    font-size: 28px;
    font-weight: bold;
 
}

/* end part-two*/



/* start testimonial*/

.testimonial{
    height: 60vb;
    
}
.body{
    position: relative;
}
.testimonial .body{
    
    margin: 40px auto;
  height: 250px;
  width: 800px;
  border-radius: 5px;
  background-color: #F1F1F1;
}
.testimonial .body .content{
    box-sizing: border-box;
    margin-left: 15%;
    padding: 40px 30px 40px 40px;
}

.testimonial .body .content h3{
    margin-block:7px ;
}
.testimonial .body .content i{
    margin-block:7px ;
}
.testimonial .body .content p{
    margin-block:5px ;
}

.stars i{
    color: #F1C30D;
}
.stars {
    margin-top: 15px;
}

.tringle{
    position: relative;
    width: 0;
    height: 0;
    border-left: 85px solid #FF305B;
    border-top:85px solid #FF305B ;
    border-right: 85px solid transparent;
    border-bottom: 85px solid transparent;
    border-top-left-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial .body .image{

width: 100px;
height: 100px;
border-radius: 50%;
background-color: white;
position: absolute;
top: 45px;
left: 40px;

overflow: hidden;
}
.testimonial .body .image img{

    width: 100%;
}



/* end testimonial*/


/* start Blog*/


.blog{
    background-color: #F1F1F1;
    height: 105vb;
    overflow: hidden;
}

.blog .body .item{
    
    margin-top: 4%;
    margin-left: 3.333333333%;
    float: left;
    width: 30%;
    background-color: white;
}
.blog .body .item .data{
    padding: 25px;
    
}
.blog .body .item img{
    cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
.blog .body .item iframe{
 
  width: 100%;
  margin-bottom: 20px;
}
.blog .body .item span{
  margin-block: 10px;
}
.blog .body .item h2{
    cursor: pointer;
    margin-block: 10px;
    transition: 1s;
}
.blog .body .item p{
    margin-block: 10px;
    line-height: 1.6;
    color: #555555;
}
.blog .body .item a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  
    transition: 1s;
    
}
.blog .body .item a:hover{
    
    color: #FF305B;
   
    
}
.blog .body .item h2:hover{
    
    color: #FF305B;
   
    
}
.blog .body .item i{
    text-decoration: none;
    color: black;
    margin-top: 50px;
    margin-left: 5px;
    
}


/* end Blog*/


/* start Contact Us*/

.Contact-us{
    height: 65vb;
}

.form{
    width: 700px;
    margin: 40px auto;
    
}

.input-group{
    width: 750px;
   
}
.name{
    margin-right: 3.4%;
    width: 48%;
}
.email{
    width: 48%;
}
.form .input-group input{
    

    
    
    
}
.form .subject{
    width: 100%;
}

input{
    box-sizing: border-box;
    margin-block: 2%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #E1E1E1;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    margin-block: 2%;
    padding: 10px;
    border-radius: 4px;
    height: 80px;
    border: 2px solid #E1E1E1;

}

textarea:focus {
    outline: none;
  
    border:1px solid red; 
    
}
input:focus {
    outline: none;
    
    border:1px solid red; 
  
}

.form button{
width: 140px;
height: 40px;
color: white;
background-color: #FF305B;
border-radius: 4px;
border: none;


}

/* end Contact Us*/


/* start footer*/
.footer{
    height: 20vb;
    background-color: #333333;
  
    overflow: hidden;
}

.footer .icons i{
    color: white;
    margin-inline: 10px;
    transition: 0.5s;

}

.footer .icons i:hover{
    color: #ff3366;
   

}


.footer .icons {
   margin-top: 5%;
    
    text-align: center;

  

}

.footer .Copy-Right{
    width: 100%;
    text-align: center;
  margin-top: 10px;
  color: white;
}


.footer  a{
    
    text-decoration: none;
    color: #ff3366;
}


/* end footer*/